.video-background{
    z-index: -99;
}



#masterhead {
	background-color: black;
	background-size: 100%;
	max-width: none; 
	border-style: solid;
	border-color: black;
	border-width: 5px;
	padding: 0 8px 0 0;

}

.item1 {
    display: inline-flex;
    padding: 0 2.5px 0 2.5px;
    flex-direction: row;
}

.item2 {
    display: inline-flex;
    padding: 0 2.5px 0 2.5px;
    flex-direction: row;
}

.item3 {
    display: inline-flex;
    padding: 0 2.5px 0 2.5px;
    flex-direction: row;
}

.item4 {
    display: inline-flex;
    padding: 0 2.5px 0 2.5px;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-weight: 500px;
}

a:link {
    color: #fff;
}

a:visited {
    color: lightgrey;
}

a:hover {
    color: grey;
    font-size: 20px;
}

a:active {
    color: lightblue;
}


.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

